In [1]:
#Pandas is used for machine learning in the form of DataFrames. Pandas allows for importing and exporting tabular data in various formats, such as CSV or JSON files.
import pandas as pd

In [2]:
#syntax - pandas.read_csv() - read function load the CSV data
#assign the variable"dataset" to load the CSV data
dataset=pd.read_csv("Salary_data.csv")

In [3]:
#print the collected data from the client
dataset

    YEARS EXPERIENCE  SALARY
0                1.1   39343
1                1.3   46205
2                1.5   37731
3                2.0   43525
4                2.2   39891
5                2.9   56642
6                3.0   60150
7                3.2   54445
8                3.2   64445
9                3.0   57189
10               3.9   63218
11               4.0   55794
12               4.0   56090
13               4.1   61111
14               4.5   63500
15               4.9   65000
16               5.0   67000
17               5.1   69000
18               5.5   72000
19               5.7   75000
20               6.0   77000
21               6.4   80000
22               6.9   82500
23               7.0   85000
24               7.5   89000
25               7.9   93000
26               8.0   96000
27               8.6  102000
28               9.0  110000
29               9.5  150000
30              10.0  180000
31              11.0  195000
32              12.0  215000

In [4]:
#split the independent variable alias input data
independent=dataset[["YEARS EXPERIENCE"]]

In [5]:
#print the inout data
independent

    YEARS EXPERIENCE
0                1.1
1                1.3
2                1.5
3                2.0
4                2.2
5                2.9
6                3.0
7                3.2
8                3.2
9                3.0
10               3.9
11               4.0
12               4.0
13               4.1
14               4.5
15               4.9
16               5.0
17               5.1
18               5.5
19               5.7
20               6.0
21               6.4
22               6.9
23               7.0
24               7.5
25               7.9
26               8.0
27               8.6
28               9.0
29               9.5
30              10.0
31              11.0
32              12.0

In [6]:
#split the dependent variable alias output data
dependent=dataset[["SALARY"]]

In [7]:
#print the output data
dependent

    SALARY
0    39343
1    46205
2    37731
3    43525
4    39891
5    56642
6    60150
7    54445
8    64445
9    57189
10   63218
11   55794
12   56090
13   61111
14   63500
15   65000
16   67000
17   69000
18   72000
19   75000
20   77000
21   80000
22   82500
23   85000
24   89000
25   93000
26   96000
27  102000
28  110000
29  150000
30  180000
31  195000
32  215000

In [8]:
#syntax for split train and test : sklearn.model_selection.train_test_split(array,test_size=none,radom_state=none)
from sklearn.model_selection import train_test_split

In [9]:
train_test_split(independent, dependent, test_size=.30, random_state=0)

[    YEARS EXPERIENCE
 29               9.5
 23               7.0
 15               4.9
 8                3.2
 13               4.1
 30              10.0
 5                2.9
 14               4.5
 28               9.0
 22               6.9
 1                1.3
 12               4.0
 6                3.0
 4                2.2
 18               5.5
 21               6.4
 19               5.7
 9                3.0
 7                3.2
 31              11.0
 27               8.6
 3                2.0
 0                1.1,
     YEARS EXPERIENCE
 11               4.0
 20               6.0
 24               7.5
 17               5.1
 2                1.5
 25               7.9
 26               8.0
 16               5.0
 10               3.9
 32              12.0,
     SALARY
 29  150000
 23   85000
 15   65000
 8    64445
 13   61111
 30  180000
 5    56642
 14   63500
 28  110000
 22   82500
 1    46205
 12   56090
 6    60150
 4    39891
 18   72000
 21   80000
 19   75000
 9    57189
 7    54445
 31  195000
 27  102000
 3    43525
 0    39343,
     SALARY
 11   55794
 20   77000
 24   89000
 17   69000
 2    37731
 25   93000
 26   96000
 16   67000
 10   63218
 32  215000]

In [10]:
x_train,x_test,y_train, y_test=train_test_split(independent, dependent, test_size=.30, random_state=0)

In [11]:
#first two lines are procedures
# fit function used to insert the substute value
# fit function - calculate the weight & bais
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(x_train, y_train)

LinearRegression()

In [13]:
# SLR formula ==> y=wx+b
# coef(coefficient)_ function gives array of weights estimated by linear regression
weight=regressor.coef_
weight

array([[13274.31823797]])

In [14]:
# SLR formula ==> y=wx+b
# intercept(Constant)_ function gives initial value or starting value or minimum value
bais=regressor.intercept_
bais

array([11277.91868179])

In [15]:
# cross check the value
y_pred=regressor.predict(x_test)

In [17]:
#validating parameter - R square = SSR/SST
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)
r_score

0.8134915291040621

In [18]:
# pickle function(python tool) - save the final model
import pickle

In [19]:
#filename created for finalised model
filename="finalized_model_linear.sav"

In [20]:
#dump function use to save the file
pickle.dump(regressor,open(filename,'wb'))

In [25]:
#load function use to load the saved file
# get the input
loaded_model=pickle.load(open("finalized_model_linear.sav",'rb'))
result=loaded_model.predict([[13]])
result

C:\ProgramData\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[183844.05577544]])